:root {
  /*Cor*/
  --preto: #000;
  --preto-secundario: #576b75;
  --branco: #fafafa;
  --azul: #1f69b1;
  --cinza: #f0f0f0;
  --cinza-secundario: #90a4ae;
  --cinza-escuro: #607d8b;
  --vermelho: #f44336;
  --laranja: #ff9728;
  --verde: #4caf50;

  /*Configs*/
  --border-radius: 2px;
}
